@import "tailwindcss";

.underline-animate::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  transition: width 0.3s ease;
}

.underline-animate:hover::after {
  width: 100%;
}

html, body {
  background-image: linear-gradient(to bottom, white, rgba(255, 0, 0, 0.372),white);
  margin: 0;
  min-height: 100vh;
  background-repeat: no-repeat;
}